@import "../variable";

.single-card-container {
  -webkit-box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
  background: $white;
  padding: 10px 15px;
  cursor: grabbing;
  border-radius: 6px;
  border: none;
  width: 100%;
  margin: 10px;
  align-self: baseline;
  transition: width 0.5s ease-in-out;

  .card-meta-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      gap: 15px;
    }

    .text-area {
      white-space: break-spaces;
      word-break: break-word;
      border: none;
      flex-basis: 70%;

      @media (max-width: $mobile) {
        flex-basis: unset;
      }
    }

    .text-area:focus {
      outline: none;
    }

    @media (max-width: $mobile) {
      max-width: 96%;;
    }

    .card-icons {
      flex-basis: 25%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $mobile) {
        gap: 20px;
        flex-basis: unset;
        width: 100%;
      }

      img {
        height: 20px;
        cursor: pointer;

        @media (max-width: $mobile) {
          height: 30px;
          padding: 0;
          margin-bottom: 10px;
        }
      }

      .important-button {
        padding-right: 15px;
        padding-left: 15px;
      }

      .delete {
        @media (max-width: $mobile) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

  }

  .text-area {
    white-space: break-spaces;
    word-break: break-word;
    border: none;
  }

  .text-area:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    max-width: 96%;
  }

  .text-content {
    font-size: 20px;
  }
}

.important {
  background: #F4E682;
}
