@import "../variable";

.side-nav {
  width: 80px;
  height: calc(100vh - 20px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s;
  margin: 10px;
  border-radius: 6px;
  overflow: scroll;
  max-width: 100%;
  z-index: 1;
  font-size: 20px;

  @media (max-width: $mobile) {
    width: 50px;
    font-size: 15px;
    padding: 15px 8px;
    height: 100%;
    margin: 0 5px;
    justify-content: flex-start;
  }

  @media (min-resolution: 30dpi) {
    left: 1850px;
  }

  @media (min-resolution: 30dpi) {
    left: 1850px;
  }

  @media (min-resolution: 40dpi) {
    left: 1100px;
  }

  @media (min-resolution: 50dpi)  {
    left: 0;
  }

  @media (min-resolution: 60dpi)  {
    left: 10%;
  }

  @media (min-resolution: 70dpi)  {
    left: 0;
    color: orange;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 10px 10px 10px 0;

    @media (max-width: $mobile) {
      width: fit-content;
      margin-top: 30vh;
    }

    @media (max-width: $mobile) {
      margin-left: 0
    }

    h2 {
      font-size: 15px;
      font-weight: 600;
      white-space: nowrap;
      word-break: break-all;
      margin-left: 5px;
      margin-right: 5px;
    }

    .paragraph {
      margin-left: 5px;
      word-break: break-all;
      margin-right: 5px;
    }

    div {
      display: none;
    }

    .user-img {
      width: 40px;
      border-radius: 50%;
      margin: 0 auto;

      @media (max-width: $mobile) {
        width: 25px;
        margin-left: 4px;
      }
    }
  }

  .unordered-list {
    list-style: none;
    padding: 0 15px;

    .list-item {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;

      .item-image {
        height: 30px;

        @media (max-width: $mobile) {
          width: 20px;
          font-size: 15px;
        }
      }

      .paragraph {
        white-space: nowrap;
        display: none;
      }
    }
  }
}

.side-nav::-webkit-scrollbar {
  display: none;
}

.side-nav:hover {
  width: 250px;

  @media (max-width: $mobile) {
    width: 200px;
  }

  .user {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 10px;

    .item-image {
      margin: 0 auto;
    }

    div {
      display: block;
    }
  }

  .unordered-list {

    .list-item {
      justify-content: flex-start;

      .paragraph {
        display: block;
      }

      .item-image {
        margin-right: 10px;
      }
    }
  }
}










